@tailwind base;
@import './syntax-highlight.css';
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--marquee-speed: 25s;
}

::selection {
	background-color: #47a3f3;
	color: #fefefe;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	@apply bg-black text-neutral-200 accent-primary focus:outline-transparent focus-visible:outline-primary;
}
/* 
[data-rehype-pretty-code-fragment] code {
	@apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
	counter-reset: line;
	box-decoration-break: clone;
}
[data-rehype-pretty-code-fragment] .line {
	@apply py-1;
}
[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 1rem;
	text-align: right;
	color: gray;
}
[data-rehype-pretty-code-fragment] .line--highlighted {
	@apply bg-slate-500 bg-opacity-10;
}
[data-rehype-pretty-code-fragment] .line-highlighted span {
	@apply relative;
}
[data-rehype-pretty-code-fragment] .word--highlighted {
	@apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}
[data-rehype-pretty-code-title] {
	@apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-[#333333] bg-[#1c1c1c];
}
[data-rehype-pretty-code-title] + pre {
	@apply mt-0 rounded-t-none border-t-0;
} */
